<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Action History</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,500,700&display=swap" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<section>
    <div th:replace="navigation-bar :: navigation-bar">
    </div>
<main>
    <span th:if="${error}" th:text="${error}"></span>
    <ul th:unless="${error}" th:each="action : *{actions}">
        <li th:text="${action}"></li>
    </ul>
</main>
</section>
</body>
</html>