<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body th:object="${fox}">
<header>
    <nav>
        <ul>
            <li>
                <a th:href="@{'/?name=' + ${name}}">Information</a>
            </li>
            <li>
                <a th:href="@{'/nutritionstore?name=' + ${name}}">Nutrition Store</a>
            </li>
            <li>
                <a th:href="@{'/trickcenter?name=' + ${name}}">Trick Center</a>
            </li>
            <li>
                <a th:href="@{'/actionhistory?name=' + ${name}}">Action History</a>
            </li>
        </ul>
    </nav>
</header>
    <main>
        <div>
            <img src="images/fox.png" alt="cute little green fox">
        </div>
        <div>
            <p th:text="'This is ' + *{name} + '. Currently living on ' + *{food} + ' and ' + *{drink} + '. It knows ' + *{tricks.size()} + ' tricks.'"></p>
        </div>
        <div>
            <h1>Known tricks</h1>
        </div>
        <span th:if="${error}" th:text="${error}"></span>
        <ul th:unless="${error}" th:each="trick : *{getTricks()}">
            <li th:text="${trick}" th:style="'text-transform: lowercase'"></li>
        </ul>
    </main>
</body>
</html>