<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
</head>
<body>
    <div>
        <a href="#">information</a>
    </div>
    <div>
        <img src="images/fox.png" alt="cute little green fox">
    </div>
    <div>
        <p th:text="'This is Mr. Fox.......'"></p>
    </div>
    <div>
        <h1>Known tricks</h1>
    </div>
    <ul>
        <li>write HTML</li>
        <li>code in JAVA</li>
    </ul>
</body>
</html>