<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Nutrition Store</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a th:href="@{'/?name=' + ${name}}">Information</a>
                    </li>
                    <li>
                        <a th:href="@{'/nutritionstore?name=' + ${name}}">Nutrition Store</a>
                    </li>
                    <li>
                        <a th:href="@{'/trickcenter?name=' + ${name}}">Trick Center</a>
                    </li>
                    <li>
                        <a th:href="@{'/actionhistory?name=' + ${name}}">Action History</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form th:action="@{'/nutritionstore?name=' + ${name}}" th:method="post">
                <label for="food">Food</label>
                <select th:name="food" id="food" th:style="'text-transform: lowercase'">
                    <option th:each="food : ${foods}" th:text="${food}" th:style="'text-transform: lowercase'" th:selected="${food.toString().toLowerCase().equals(currentFood)}"></option>
                </select>
                <label for="drink">Drink</label>
                <select th:name="drink" id="drink" th:style="'text-transform: lowercase'">
                    <option th:each="drink : ${drinks}" th:text="${drink}" th:style="'text-transform: lowercase'" th:selected="${drink.toString().toLowerCase().equals(currentDrink)}"></option>
                </select>
                <input type="submit" value="Change">
            </form>
        </main>
    </body>
</html>