<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:type="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css?family=Raleway:100,500,700&display=swap" rel="stylesheet">
<link href="styles.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Assignees</title>
</head>
<body>
<div class="secondBG">
    <div th:if="${error}" th:text="${error}"></div>
    <h1 th:unless="${error}">Assignees:</h1>
    <div>
        <a th:href="@{/assignees/addAssignee}">Add new assignee</a>
    </div>
    <table th:unless="${error}">
        <thead>
        <tr>
            <th th:text="'ID'"></th>
            <th th:text="'NAME'"> </th>
            <th th:text="'EMAIL'"> </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignee : ${assigness}">
            <td th:text="${assignee.id}"></td>
            <td th:text="${assignee.name}"></td>
            <td th:text="${assignee.email}"></td>
            <td>
                <form action="#" th:action="@{'/assignees/' + ${assignee.id} + '/delete'}" method="post">
                    <button th:text="'delete'"></button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{'/assignees/' + ${assignee.id} + '/edit'}" method="get">
                    <button th:text="'edit'"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/todo}">Go to todos</a>
    </div>
</div>
</body>
</html>