<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <head>
        <meta charset="UTF-8">
        <title>Assignees</title>
    </head>
    <body>
        <div class="secondBG">
            <div th:if="${error}" th:text="${error}"></div>
            <div th:unless="${error}">
                <h1>Assignees:</h1>
                <div>
                    <a th:href="@{/assignees/addAssignee}">Add new assignee</a>
                </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">NAME</th>
                                <th scope="col">EMAIL</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="assignee : ${assigness}" th:object="${assignee}">
                                <td th:text="*{id}"></td>
                                <td>
                                        <a th:href="@{'/assignees/' + *{id} + '/todos'}" th:text="*{name}"></a>
                                </td>
                                <td th:text="*{email}"></td>
                                <td>
                                    <form action="#" th:action="@{'/assignees/' + *{id} + '/delete'}" method="post">
                                        <button>delete</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="#" th:action="@{'/assignees/' + *{id} + '/edit'}" method="get">
                                        <button>edit</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a th:href="@{/todo}">Go to todos</a>
                </div>
        </div>
    </body>
</html>