<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"      >
    <head>
        <meta charset="UTF-8">
        <title>Edit</title>
    </head>
    <body>
        <h1>Edit Todo</h1>
        <form action="#" th:action="@{'/todo/' + ${id} + '/edit'}" method="post" th:object="${todo}">
            <div>
                <label for="title">Todo Description</label>
                <input type="text" id="title" name="title" th:value="*{title}">
            </div>
            <div>
                <label for="isUrgent">Urgent</label>
                <input type="checkbox" id="isUrgent" name="isUrgent" th:checked="*{isUrgent}">
            </div>
            <div>
                <label for="isDone">Done</label>
                <input type="checkbox" id="isDone" name="isDone" th:checked="*{isDone}">
            </div>
            <div>
                <label for="dueDate">Done</label>
                <input type="date" id="dueDate" name="dueDate" th:value="*{dueDate}">
            </div>
            <div>
                <label for="assignee">Assignee</label>
                <select id="assignee" name="assignee">
                    <option th:if="*{assignee != null}" th:each="person : ${persons}" th:text="${person.getName()}" th:selected="${person.name.equals(todo.getAssignee().getName())}" th:value="${person.id}"></option>
                    <option th:unless="*{assignee != null}" th:each="person : ${persons}" th:text="${person.getName()}" th:value="${person.id}"></option>
                </select>
            </div>
            <input type="submit" value="Submit">
            <a th:href="@{/todo}">Cancel</a>
        </form>
    </body>
</html>