<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <head>
        <meta charset="UTF-8">
        <title>Assignee's todos</title>
    </head>
    <body>
        <div class="secondBG">
            <div th:if="${error}" th:text="${error}"></div>
            <div th:unless="${error}">
                <h1>Todos for today:</h1>
                <div>
                    <a th:href="@{/assignees}">Back to the assignees' list</a>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">DEADLINE</th>
                            <th scope="col">ACTION</th>
                            <th scope="col">URGENT</th>
                            <th scope="col">DONE</th>
                            <th scope="col">CREATION DATE</th>
                            <th scope="col">ASSIGNEE</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="todo : ${todosForAssignee}" th:object="${todo}">
                            <td th:text="*{id}"></td>
                            <td>
                                <span th:if="*{getDueDate() == null} "> ---- - -- - -- </span>
                                <span th:unless="*{getDueDate() == null} " th:text="*{getDueDate()}"></span>
                            </td>
                            <td th:text="*{title}"></td>
                            <td th:text="*{isUrgent ? '!' : '-'}"></td>
                            <td th:text="*{isDone ? 'Done': '-'}"></td>
                            <td th:text="*{getCreationDate()}"></td>
                            <td>
                                <span th:if="*{assignee == null} "> - </span>
                                <a th:href="@{'/assignees/' + *{assignee.id} + '/todos'}" th:text="*{assignee.name}"></a>
                            </td>
                            <td>
                                <form action="#" th:action="@{'/todo/' + *{id} + '/delete'}" method="post">
                                    <button class="btn btn-danger">delete</button>
                                </form>
                            </td>
                            <td>
                                <form action="#" th:action="@{'/todo/' + *{id} + '/edit'}" method="get">
                                    <button class="btn btn-primary">edit</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <a th:href="@{/todo}">Back to full todo list</a>
                </div>
            </div>
        </div>
    </body>
</html>
