<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
    <body>
        <div class="secondBG">
            <form action="#" th:action="@{'/todo/search-result'}" method="get">
                <div>
                    <label for="searchTitle">Search in title:</label>
                    <input name="searchTitle" id="searchTitle" type="text">
                </div>
                <div>
                    <label for="isUrgent">Urgent:</label>
                    <select name="isUrgent" id="isUrgent">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">urgent</option>
                        <option value="0">not urgent</option>
                    </select>
                </div>
                <div>
                    <label for="isDone">Status:</label>
                    <select name="isDone" id="isDone">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">done</option>
                        <option value="0">not finished yet</option>
                    </select>
                </div>
                <div>
                    <label for="assigneeName">Search for assignee:</label>
                    <input th:name="assigneeName" id="assigneeName" type="text">
                </div>
                <input type="submit" value="Search">
            </form>
        </div>
    </body>
</html>