<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
    <body>
        <div class="secondBG">
            <form action="#" th:action="@{'/todo/'}" method="get">
                <div>
                    <label for="assigneeName">Search for assignee:</label>
                    <input th:name="assigneeName" id="assigneeName" type="text" placeholder="'Assignee Name'">
                </div>
                <div>
                    <label for="title"></label>
                    <input th:name="search" id="title" type="text" placeholder="'Assignee Name'">
                </div>
                <input type="submit" value="Search">
            </form>
        </div>
    </body>
</html>