<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Information</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<div>
    <span th:if="${error}" th:text="${error}"></span>
    <table th:unless="${error}" th:object="${account}">
        <tr>
            <th th:text="'Name'"> </th>
            <th th:text="'Balance'"> </th>
            <th th:text="'AnimalType'"> </th>
        </tr>
        <tr>
            <td th:text="*{name}"> </td>
            <td th:text="${#numbers.formatDecimal(account.balance, 0, 2, 'POINT')} + ' Zebra'"> </td>
            <td th:text="*{animalType}"> </td>
        </tr>
    </table>
</div>
</body>
</html>