<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <title>Create New Account</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="https://freepngimg.com/thumb/rose/2-rose-png-image-picture-download.png" />
</head>
<body>
<section class="form">
    <h1>Create account</h1>
    <form action="#" th:action="@{/new}" th:object="${account}" method="POST">
        <div>
            <input class="inputfield" id="name" name="name" type="text" placeholder="Your Name">
        </div>
        <div>
            <input class="inputfield" id="balance" name="balance" type="number" placeholder="initial amount">
        </div>
        <div>
            <input class="inputfield" id="animalType" name="animalType" type="text" placeholder="Your Animal Type">
        </div>
        <div>
            <label class ="checkinglabel" for="isKing">Are you a King?</label>
            <input class="checkingbox" id="isKing" name="isKing" type="checkbox">
        </div>
        <div>
            <label class ="checkinglabel" for="isGood">Are you a Good Guy?</label>
            <input class="checkingbox" id="isGood" name="isGood" type="checkbox">
        </div>
        <div>
            <input class="button" id="createbutton" type="submit" value="Create account">
        </div>
    </form>
</section>
</body>
</html>