<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Raise the Balance</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,700&display=swap" rel="stylesheet">
    <link href="raise-balance_styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="https://freepngimg.com/thumb/rose/2-rose-png-image-picture-download.png" />
</head>
<body>
<section class="form">
    <h1>Raise the Balance</h1>
    <form action="#" method="POST">
        <div>
            <input class="inputfield" id="name" name="name" type="text" placeholder="Your Name">
        </div>
        <div>
            <input class="inputfield" id="type" name="type" type="text" placeholder="Your Animal Type">
        </div>
        <div>
            <label class ="checkinglabel" for="isKing">Are you a King?</label>
            <input class="checkingbox" id="isKing" name="isKing" type="checkbox">
        </div>
        <div>
            <label class ="checkinglabel" for="isGood">Are you a Good Guy?</label>
            <input class="checkingbox" id="isGood" name="isGood" type="checkbox">
        </div>
        <div>
            <input id="raiseupbutton" type="button" value="Raise the balance">
        </div>
    </form>
</section>
</body>
</html>