<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BankAccounts</title>
    <meta charset="utf-8" />
</head>
<body>
    <span th:if="${error}" th:text="${error}"></span>
    <table th:unless="${error}">
        <tr>
            <th th:text="'Index'"></th>
            <th th:text="'Name'"> </th>
            <th th:text="'Balance'"> </th>
            <th th:text="'AnimalType'"> </th>
            <th th:text="'King/not'"> </th>
            <th th:text="'Good/Bad'"> </th>
        </tr>
        <tr th:each="account : ${list}">
            <td th:text="${accountStat.index}"></td>
            <td th:text="${account.name}"> </td>
            <td th:text="${#numbers.formatDecimal(account.balance, 0, 2, 'POINT')} + ' Zebra'"> </td>
            <td th:text="${account.animalType}"> </td>
            <td th:text="${account.isKing() ? 'King' : '-'}"> </td>
            <td th:text="${account.isGood() ? 'Good One' : 'Bad Guy'}"> </td>
        </tr>
    </table>
</body>
</html>