body {
    background-color: #361c1c;
    font-size: 60px;
}

.goldentext {
    color: #bf4a14;


    color: #c3a343;
    -webkit-text-fill-color: transparent;
    /*background: -webkit-linear-gradient(transparent, transparent), url('https://c2.staticflickr.com/6/5680/22302333629_0d42d94d22_b.jpg') repeat;*/
    background: -webkit-linear-gradient(transparent, transparent), url('https://jooinn.com/images/gold-texture-23.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}