* {
    box-sizing: border-box;
}

body {
    background: rgb(235,156,1);
    background: linear-gradient(270deg, rgba(235,156,1,1) 0%, rgba(232,109,2,1) 19%, rgba(210,76,2,1) 46%, rgba(182,24,4,1) 73%, rgba(76,0,2,1) 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: rgb(75, 61, 64);
}

.secondBG {
    margin: 100px;
    width: 900px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgba(84, 2, 2, .5);
    padding: 50px;
}

h1 {
    font-weight: 400;
    font-size: 33px;
    color: rgb(84, 2, 2);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 32px;
    padding: 0px;
}

table {

    margin: auto;
    width: auto;
    height: auto;
    border-radius: 5px;
    color: rgb(75, 61, 64);
    border-collapse: collapse;
    box-shadow: 0px 3px 4px rgba(122, 122, 122, .5);
}

thead {
    background: rgb(232,109,2);
    background: linear-gradient(90deg, rgba(232,109,2,1) 0%, rgba(210,76,2,1) 15%, rgba(182,24,4,1) 56%, rgba(76,0,2,1) 100%);
}

th {
    font-weight: 100;
    color: white;
    height: 65px;
    font-size: 18px;
    text-align: center;
    border-top: 0;
    border-bottom: 4px solid #713133;
}

tr {
    height: 65px;
}

td, th{
    padding: 20px;
}

.balance::after, .kingbalance::after {
    content: "   ZBR";
    font-size: 14px;
}

.name, .kingname, .kinganimalType, .animalType {
    text-align: left;
}

.kingbalance, .balance {
    text-align: right;
}

.isGood, .isKing , .kingisGood, .kingisKing, .index, .kingindex {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color:#FFFFFF;
}

tbody tr:nth-child(odd) {
    background-color: #fffaf0;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.form {
    margin-left: 100px;
    margin-top: 100px;
    width: 375px;
    /*height: 500px;*/
    height: auto;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(84, 2, 2, .5);
    padding-left: 50px;
    padding-top: 58px;
    color: rgb(75, 61, 64);
}


.inputfield {
    height: 41px;
    width: 275px;
    margin-bottom: 24px;
    border-left: 0px solid lightgrey;
    border-top: 0px solid lightgrey;
    border-right: 0px solid lightgrey;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding-left: 6px;
    font-size: 18px;
    color: rgb(75, 61, 64);
}

.inputfield:focus {
    outline: none;
    border-bottom: 3px solid rgb(84, 2, 2);
}

.checkingbox {
    margin-bottom: 39px;
    margin-top: 13px;
    color: rgb(75, 61, 64);
}

.checkinglabel {
    padding-left: 6px;
    color: rgb(75, 61, 64);
}

.button {
    background-color: #B91E04 ;
    color: white;
    margin-top: 15px;
    margin-bottom: 40px;
    height: 41px;
    width: 275px;
    padding-left: 6px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}

.button:focus {
    outline: none;
    background-color: #B91E04;
}

.button:hover {
    outline: none;
    background-color: rgb(140, 33, 15);
}

.button:active {
    outline: none;
    background-color: #D24B02;
}

.kingname, .kingindex, .kinganimalType, .kingbalance, .kingisKing, .kingisGood {
    color: #bf4a14;


    color: #c3a343;
    -webkit-text-fill-color: transparent;
    /*background: -webkit-linear-gradient(transparent, transparent), url('https://c2.staticflickr.com/6/5680/22302333629_0d42d94d22_b.jpg') repeat;*/
    background: -webkit-linear-gradient(transparent, transparent), url('https://jooinn.com/images/gold-texture-23.jpg') repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

/*.kingrow {*/
/*    background-color: rgb(84, 2, 2);*/
/*}*/

