<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit</title>
</head>
    <body>
        <div>
            <a href="/submit">Submit new post</a>
        </div>
        <div>
            <h1 align="center">Trending Posts</h1>
        </div>
        <div>
            <table>
                <tbody th:each="post : ${posts}" th:object="${post}">
                    <td th:text="*{rating}"></td>
                    <td>
                        <form action="#" th:action="@{/plus}" method="post">
                            <input type="hidden" name="id" th:value="*{id}">
                            <button>+</button>
                        </form>
                    </td>
                    <td>
                        <form action="#" th:action="@{/minus}" method="post">
                            <input type="hidden" name="id" th:value="*{id}">
                            <button>-</button>
                        </form>
                    </td>
                    <td>
                        <a th:text="*{title}" th:href="*{url}"></a>
                    </td>
                </tbody>
            </table>
        </div>
    </body>
</html>