<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit</title>
</head>
    <body>
        <div>
            <a href="#">Submit new post</a>
        </div>
        <div>
            <h1>Trending Posts</h1>
        </div>
        <div>
<!--            <table>-->
<!--                <tbody th:each="post : ${posts}" th:object="${post}">-->
<!--                    <td th:text="*{votes}"></td>-->
<!--                    <td>-->

<!--                    </td>-->
<!--                    <td>-->

<!--                    </td>-->
<!--                    <td th:text="*{title}"></td>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>
    </body>
</html>