<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Submit a new post</title>
    </head>
    <body>
        <div>
            <h1>Submit a new post</h1>
        </div>
        <div>
            <form>
                <div>
                    <label for="title">Title:</label>
                    <input id="title" type="text">
                </div>
                <div>
                    <label for="url">URL:</label>
                    <input id="url" type="text">
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </body>
</html>